storm.zookeeper.servers:
{% for server in groups['cluster'] %}
  - {{ hostvars[server]['ansible_ssh_host'] }}
{% endfor %}

storm.local.dir: "/home/{{user}}/apache-storm-{{storm_version}}/data/"

nimbus.seeds:
{% for server in groups['nimbus'] %}
  - {{ hostvars[server]['ansible_ssh_host'] }}
{% endfor %}
{% for server in groups['supervisors'] %}
{% if server == inventory_hostname %}

supervisor.slots.ports:
  - 6700
{% endif %}
{% endfor %}
