[program:ui]
command=/home/{{user}}/apache-storm-{{storm_version}}/bin/storm ui
user={{user}}
autorestart=true
startsecs=10
startretries=10
log_stdout=true
log_stderr=true
stderr_logfile=/home/{{user}}/supervisor/logs/ui.err.log
stdout_logfile=/home/{{user}}/supervisor/logs/ui.out.log
logfile_maxbytes=20MB
logfile_backups=10
