tickTime = 2000

dataDir = /home/{{user}}/zookeeper-{{zookeeper_version}}/data
dataLogDir = /home/{{user}}/zookeeper-{{zookeeper_version}}/logs

clientPort = {{client_port}}
initLimit = {{initLimit}}
syncLimit = {{syncLimit}}

autopurge.purgeInterval = 24
autopurge.snapRetainCount = 3

{% for server in groups['cluster'] %}
{% if server == inventory_hostname %}
server.{{ loop.index }}=0.0.0.0:2888:3888
{% else %}
server.{{ loop.index }}={{ hostvars[server]['ansible_ssh_host'] }}:{{commPort}}:{{electionPort}}
{% endif %}
{% endfor %}
